{% extends 'plantilla.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Inicio de la barra de búsqueda -->
<div class="flex items-center justify-between mx-6 mt-6">
    <div class="flex items-center">
        <input type="text" id="searchInput" placeholder="Buscar..." class="border border-gray-300 px-3 py-2 rounded-l-full focus:outline-none focus:border-blue-500">
        <button id="searchButton" class="bg-green-500 text-white px-4 py-2 rounded-r-full">Buscar <i class="bi bi-search"></i></button>
    </div>
    {% if session['rol'] == 'Publicador' %}
        <button onclick="location.href='/Registro_Proyecto'" class="bg-blue-500 text-white px-4 py-2 mr-3 rounded-full">Registrar Proyecto</button>
    {% endif %}
</div>

<!-- Aquí se inician todos los cards para los proyectos que se van registrando -->
<div id="projectGrid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 top-15 m-9">
    {% for proyecto in proyectos %}
        <div class="project-card bg-white rounded-lg shadow-md overflow-hidden">
            <img src="data:image/jpeg;base64,{{ proyecto.imagen }}" alt="Imagen 1" class="w-full h-64 object-cover object-center">
            <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">{{ proyecto.nombre }}</h3>
                <a class="bg-green-800 text-white px-6 py-2 rounded-md" href="{{ url_for('VisualizadorMasProyectos', proyecto_id=proyecto.id) }}">Ver Más</a>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');
        const projectGrid = document.getElementById('projectGrid');
        const projectCards = document.querySelectorAll('.project-card');

        searchButton.addEventListener('click', function() {
            const query = searchInput.value.toLowerCase();

            projectCards.forEach(card => {
                const projectName = card.querySelector('h3').innerText.toLowerCase();
                if (projectName.includes(query)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });

        searchInput.addEventListener('input', function() {
            const query = searchInput.value.toLowerCase();

            projectCards.forEach(card => {
                const projectName = card.querySelector('h3').innerText.toLowerCase();
                if (projectName.includes(query)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}
